.card-input {
  @apply mb-lg pl-sm outline-none mt-sm block border w-full h-10 border-input-border border-solid bg-white leading-10 text-form-field text-text-primary;
}

.card-input-error {
  @apply mb-lg pl-sm block w-full h-10 outline-none border-2 border-error border-solid bg-white leading-10 text-form-field text-text-primary;
}

.employee-card-input {
  border: 1px solid #007bff;
  background-color: transparent;
  @apply pl-sm outline-none block w-full h-10 leading-10 text-form-field text-text-primary rounded-md;
  &:hover {
    border: 1px solid #0056b3;
  }
}

.employee-card-input:disabled {
  @apply text-grey-dark !important;
  border: 2px solid #e5e5e7;
  pointer-events: none !important;
  cursor: not-allowed;
  @extend .light-input-border;
  @extend .light-text-color-disabled;
}
.employee-card-input--front {
  width: fit-content !important;
  display: flex;
  align-items: center;
  background: transparent;
  border-right: 1px solid #007bff;
  padding-right: 5px;
  border-radius: 6px 0 0 6px;
  color: inherit;
}
.employee-card-input-error {
  @apply mb-lg pl-sm block w-full h-10 outline-none border-2 border-error border-solid bg-white leading-10 text-form-field text-text-primary;
}

.card-textarea,
.employee-card-textarea {
  border: 2px solid #e5e5e7;
  @apply block outline-none w-full bg-white h-24 text-form-field text-text-primary p-sm rounded-md;
  &:hover {
    border: 2px solid #a1a1aa;
  }
}

.inputWrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 500px;

  div {
    max-width: 80px;
  }

  span {
    margin-top: 16px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@screen dt {
  .card-input {
    width: 480px;
  }

  .card-input-emp {
    width: 240px;
  }

  .card-textarea {
    /* //width: 480px; */
    @apply w-full;
    max-width: 540px;
  }

  .employee-card-textarea {
    @apply w-full;
  }

  .card-input-emp {
    width: 240px;
  }
}
